node_modules/
dist/
*.log
coverage/
.env
/.idea/
/.vscode/
Docker/*.log


Backend/generated/prisma
Backend/.env

# Next.js y frameworks modernos
.next/
out/
build/
cache/
server/
static/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Archivos de entorno
.env.local
.env.*

# Sistema operativo
*.DS_Store
Thumbs.db

# Otros generados
yarn-error.log
npm-debug.log

# Reportes
reports/

