--
-- PostgreSQL database dump
--

\restrict cAJaPNCiUfwLQpkoQtmOuAEBr0bkwheJD2g0hB65aKQcJGT6CD0JmuQ6EbzohK9

-- Dumped from database version 13.22 (Debian 13.22-1.pgdg13+1)
-- Dumped by pg_dump version 13.22 (Debian 13.22-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categoria; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.categoria (
    id_categoria bigint NOT NULL,
    nombre character varying(120) NOT NULL
);


ALTER TABLE public.categoria OWNER TO "user";

--
-- Name: categoria_id_categoria_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.categoria_id_categoria_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categoria_id_categoria_seq OWNER TO "user";

--
-- Name: categoria_id_categoria_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.categoria_id_categoria_seq OWNED BY public.categoria.id_categoria;


--
-- Name: comentario; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.comentario (
    id_comentario bigint NOT NULL,
    id_usuario bigint,
    comentario text,
    fecha timestamp with time zone
);


ALTER TABLE public.comentario OWNER TO "user";

--
-- Name: comentario_id_comentario_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.comentario_id_comentario_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.comentario_id_comentario_seq OWNER TO "user";

--
-- Name: comentario_id_comentario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.comentario_id_comentario_seq OWNED BY public.comentario.id_comentario;


--
-- Name: corte_caja; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.corte_caja (
    id_corte bigint NOT NULL,
    id_negocio bigint,
    id_usuario bigint,
    fecha_inicio timestamp with time zone,
    fecha_fin timestamp with time zone,
    monto_inicial numeric(14,2),
    monto_final numeric(14,2),
    ventas_totales integer
);


ALTER TABLE public.corte_caja OWNER TO "user";

--
-- Name: corte_caja_id_corte_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.corte_caja_id_corte_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.corte_caja_id_corte_seq OWNER TO "user";

--
-- Name: corte_caja_id_corte_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.corte_caja_id_corte_seq OWNED BY public.corte_caja.id_corte;


--
-- Name: detalle_venta; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.detalle_venta (
    id_detalle bigint NOT NULL,
    id_venta bigint,
    id_producto bigint,
    cantidad integer,
    precio_unitario numeric(12,2)
);


ALTER TABLE public.detalle_venta OWNER TO "user";

--
-- Name: detalle_venta_id_detalle_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.detalle_venta_id_detalle_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.detalle_venta_id_detalle_seq OWNER TO "user";

--
-- Name: detalle_venta_id_detalle_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.detalle_venta_id_detalle_seq OWNED BY public.detalle_venta.id_detalle;


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.feedback (
    id_feedback bigint NOT NULL,
    id_usuario bigint,
    id_comentario bigint,
    calificacion smallint,
    fecha timestamp with time zone
);


ALTER TABLE public.feedback OWNER TO "user";

--
-- Name: feedback_id_feedback_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.feedback_id_feedback_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.feedback_id_feedback_seq OWNER TO "user";

--
-- Name: feedback_id_feedback_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.feedback_id_feedback_seq OWNED BY public.feedback.id_feedback;


--
-- Name: inventario; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.inventario (
    id_inventario bigint NOT NULL,
    id_negocio bigint,
    id_producto bigint,
    stock_minimo integer,
    cantidad_actual integer,
    fecha_actualizacion timestamp with time zone
);


ALTER TABLE public.inventario OWNER TO "user";

--
-- Name: inventario_id_inventario_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.inventario_id_inventario_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventario_id_inventario_seq OWNER TO "user";

--
-- Name: inventario_id_inventario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.inventario_id_inventario_seq OWNED BY public.inventario.id_inventario;


--
-- Name: negocio; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.negocio (
    id_negocio bigint NOT NULL,
    nombre character varying(200) NOT NULL,
    direccion text,
    telefono character varying(30),
    correo character varying(254),
    logo text,
    fecha_registro timestamp with time zone
);


ALTER TABLE public.negocio OWNER TO "user";

--
-- Name: negocio_id_negocio_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.negocio_id_negocio_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.negocio_id_negocio_seq OWNER TO "user";

--
-- Name: negocio_id_negocio_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.negocio_id_negocio_seq OWNED BY public.negocio.id_negocio;


--
-- Name: producto; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.producto (
    id_producto bigint NOT NULL,
    id_categoria bigint,
    nombre character varying(200) NOT NULL,
    descripcion text,
    codigo_barras character varying(100),
    precio numeric(12,2) NOT NULL,
    imagen text,
    estado character varying(30)
);


ALTER TABLE public.producto OWNER TO "user";

--
-- Name: producto_id_producto_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.producto_id_producto_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.producto_id_producto_seq OWNER TO "user";

--
-- Name: producto_id_producto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.producto_id_producto_seq OWNED BY public.producto.id_producto;


--
-- Name: reporte_ventas; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.reporte_ventas (
    id_reporte bigint NOT NULL,
    id_negocio bigint,
    fecha date,
    total_ventas numeric(14,2),
    total_productos integer,
    total_efectivo numeric(14,2),
    total_tarjeta numeric(14,2),
    total_transferencia numeric(14,2)
);


ALTER TABLE public.reporte_ventas OWNER TO "user";

--
-- Name: reporte_ventas_id_reporte_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.reporte_ventas_id_reporte_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reporte_ventas_id_reporte_seq OWNER TO "user";

--
-- Name: reporte_ventas_id_reporte_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.reporte_ventas_id_reporte_seq OWNED BY public.reporte_ventas.id_reporte;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.roles (
    id_rol bigint NOT NULL,
    nombre_rol character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO "user";

--
-- Name: roles_id_rol_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.roles_id_rol_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_rol_seq OWNER TO "user";

--
-- Name: roles_id_rol_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.roles_id_rol_seq OWNED BY public.roles.id_rol;


--
-- Name: tipo_pago; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.tipo_pago (
    id_tipo_pago bigint NOT NULL,
    tipo character varying(50) NOT NULL,
    descripcion text
);


ALTER TABLE public.tipo_pago OWNER TO "user";

--
-- Name: tipo_pago_id_tipo_pago_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.tipo_pago_id_tipo_pago_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tipo_pago_id_tipo_pago_seq OWNER TO "user";

--
-- Name: tipo_pago_id_tipo_pago_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.tipo_pago_id_tipo_pago_seq OWNED BY public.tipo_pago.id_tipo_pago;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.usuarios (
    id_usuario bigint NOT NULL,
    id_rol bigint,
    nombre character varying(150) NOT NULL,
    correo_electronico character varying(254) NOT NULL,
    password_hash character varying(255) NOT NULL,
    numero_telefono character varying(30),
    fecha_nacimiento date,
    fecha_registro timestamp with time zone,
    estado character varying(20)
);


ALTER TABLE public.usuarios OWNER TO "user";

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.usuarios_id_usuario_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_usuario_seq OWNER TO "user";

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.usuarios_id_usuario_seq OWNED BY public.usuarios.id_usuario;


--
-- Name: venta; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.venta (
    id_venta bigint NOT NULL,
    id_negocio bigint,
    id_usuario bigint,
    fecha_venta timestamp with time zone,
    total numeric(14,2),
    id_tipo_pago bigint,
    estado character varying(30)
);


ALTER TABLE public.venta OWNER TO "user";

--
-- Name: venta_id_venta_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.venta_id_venta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.venta_id_venta_seq OWNER TO "user";

--
-- Name: venta_id_venta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.venta_id_venta_seq OWNED BY public.venta.id_venta;


--
-- Name: categoria id_categoria; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.categoria ALTER COLUMN id_categoria SET DEFAULT nextval('public.categoria_id_categoria_seq'::regclass);


--
-- Name: comentario id_comentario; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.comentario ALTER COLUMN id_comentario SET DEFAULT nextval('public.comentario_id_comentario_seq'::regclass);


--
-- Name: corte_caja id_corte; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.corte_caja ALTER COLUMN id_corte SET DEFAULT nextval('public.corte_caja_id_corte_seq'::regclass);


--
-- Name: detalle_venta id_detalle; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.detalle_venta ALTER COLUMN id_detalle SET DEFAULT nextval('public.detalle_venta_id_detalle_seq'::regclass);


--
-- Name: feedback id_feedback; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id_feedback SET DEFAULT nextval('public.feedback_id_feedback_seq'::regclass);


--
-- Name: inventario id_inventario; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.inventario ALTER COLUMN id_inventario SET DEFAULT nextval('public.inventario_id_inventario_seq'::regclass);


--
-- Name: negocio id_negocio; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.negocio ALTER COLUMN id_negocio SET DEFAULT nextval('public.negocio_id_negocio_seq'::regclass);


--
-- Name: producto id_producto; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.producto ALTER COLUMN id_producto SET DEFAULT nextval('public.producto_id_producto_seq'::regclass);


--
-- Name: reporte_ventas id_reporte; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reporte_ventas ALTER COLUMN id_reporte SET DEFAULT nextval('public.reporte_ventas_id_reporte_seq'::regclass);


--
-- Name: roles id_rol; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id_rol SET DEFAULT nextval('public.roles_id_rol_seq'::regclass);


--
-- Name: tipo_pago id_tipo_pago; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tipo_pago ALTER COLUMN id_tipo_pago SET DEFAULT nextval('public.tipo_pago_id_tipo_pago_seq'::regclass);


--
-- Name: usuarios id_usuario; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuarios_id_usuario_seq'::regclass);


--
-- Name: venta id_venta; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.venta ALTER COLUMN id_venta SET DEFAULT nextval('public.venta_id_venta_seq'::regclass);


--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.categoria (id_categoria, nombre) FROM stdin;
1	Bebidas
2	Alimentos
3	Postres
4	Snacks
5	Otros
\.


--
-- Data for Name: comentario; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.comentario (id_comentario, id_usuario, comentario, fecha) FROM stdin;
\.


--
-- Data for Name: corte_caja; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.corte_caja (id_corte, id_negocio, id_usuario, fecha_inicio, fecha_fin, monto_inicial, monto_final, ventas_totales) FROM stdin;
\.


--
-- Data for Name: detalle_venta; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.detalle_venta (id_detalle, id_venta, id_producto, cantidad, precio_unitario) FROM stdin;
\.


--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.feedback (id_feedback, id_usuario, id_comentario, calificacion, fecha) FROM stdin;
\.


--
-- Data for Name: inventario; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.inventario (id_inventario, id_negocio, id_producto, stock_minimo, cantidad_actual, fecha_actualizacion) FROM stdin;
5	1	5	3	5	\N
6	1	6	0	10	\N
7	1	9	0	10	\N
8	1	10	0	7	\N
9	1	11	0	2	\N
10	1	12	5	10	\N
\.


--
-- Data for Name: negocio; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.negocio (id_negocio, nombre, direccion, telefono, correo, logo, fecha_registro) FROM stdin;
1	Negocio Demo	\N	\N	\N	\N	\N
\.


--
-- Data for Name: producto; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.producto (id_producto, id_categoria, nombre, descripcion, codigo_barras, precio, imagen, estado) FROM stdin;
2	\N	Producto Test	\N	\N	99.99	\N	\N
3	\N	Smoke Test UI	\N	\N	12.34	\N	activo
5	\N	torta cubana editada	\N	121212	60.00	\N	activo
9	\N	torta de lomo	\N	11111111111111	60.00	\N	activo
10	2	Molletes con guiso	\N	051025	65.00	\N	activo
6	2	hotdog pato	\N	12345678	55.00	\N	activo
11	2	chilaquiles	\N	87654321	65.00	\N	activo
12	2	Papa Rellena	\N	123454321	55.00	\N	activo
13	2	Tostilocos	\N	678909876	55.00	\N	activo
\.


--
-- Data for Name: reporte_ventas; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.reporte_ventas (id_reporte, id_negocio, fecha, total_ventas, total_productos, total_efectivo, total_tarjeta, total_transferencia) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.roles (id_rol, nombre_rol) FROM stdin;
1	superadmin
2	admin
3	empleado
4	usuario
\.


--
-- Data for Name: tipo_pago; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.tipo_pago (id_tipo_pago, tipo, descripcion) FROM stdin;
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: venta; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.venta (id_venta, id_negocio, id_usuario, fecha_venta, total, id_tipo_pago, estado) FROM stdin;
\.


--
-- Name: categoria_id_categoria_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.categoria_id_categoria_seq', 13, true);


--
-- Name: comentario_id_comentario_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.comentario_id_comentario_seq', 1, false);


--
-- Name: corte_caja_id_corte_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.corte_caja_id_corte_seq', 1, false);


--
-- Name: detalle_venta_id_detalle_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.detalle_venta_id_detalle_seq', 1, false);


--
-- Name: feedback_id_feedback_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.feedback_id_feedback_seq', 1, false);


--
-- Name: inventario_id_inventario_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.inventario_id_inventario_seq', 10, true);


--
-- Name: negocio_id_negocio_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.negocio_id_negocio_seq', 1, true);


--
-- Name: producto_id_producto_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.producto_id_producto_seq', 13, true);


--
-- Name: reporte_ventas_id_reporte_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.reporte_ventas_id_reporte_seq', 1, false);


--
-- Name: roles_id_rol_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.roles_id_rol_seq', 4, true);


--
-- Name: tipo_pago_id_tipo_pago_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.tipo_pago_id_tipo_pago_seq', 1, false);


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.usuarios_id_usuario_seq', 16, true);


--
-- Name: venta_id_venta_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.venta_id_venta_seq', 1, false);


--
-- Name: categoria categoria_nombre_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_nombre_key UNIQUE (nombre);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (id_categoria);


--
-- Name: comentario comentario_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.comentario
    ADD CONSTRAINT comentario_pkey PRIMARY KEY (id_comentario);


--
-- Name: corte_caja corte_caja_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.corte_caja
    ADD CONSTRAINT corte_caja_pkey PRIMARY KEY (id_corte);


--
-- Name: detalle_venta detalle_venta_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_pkey PRIMARY KEY (id_detalle);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id_feedback);


--
-- Name: inventario inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_pkey PRIMARY KEY (id_inventario);


--
-- Name: negocio negocio_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.negocio
    ADD CONSTRAINT negocio_pkey PRIMARY KEY (id_negocio);


--
-- Name: producto producto_codigo_barras_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_codigo_barras_key UNIQUE (codigo_barras);


--
-- Name: producto producto_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_pkey PRIMARY KEY (id_producto);


--
-- Name: reporte_ventas reporte_ventas_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reporte_ventas
    ADD CONSTRAINT reporte_ventas_pkey PRIMARY KEY (id_reporte);


--
-- Name: roles roles_nombre_rol_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_nombre_rol_key UNIQUE (nombre_rol);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id_rol);


--
-- Name: tipo_pago tipo_pago_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tipo_pago
    ADD CONSTRAINT tipo_pago_pkey PRIMARY KEY (id_tipo_pago);


--
-- Name: tipo_pago tipo_pago_tipo_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.tipo_pago
    ADD CONSTRAINT tipo_pago_tipo_key UNIQUE (tipo);


--
-- Name: usuarios usuarios_correo_electronico_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_correo_electronico_key UNIQUE (correo_electronico);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: venta venta_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_pkey PRIMARY KEY (id_venta);


--
-- Name: comentario comentario_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.comentario
    ADD CONSTRAINT comentario_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: corte_caja corte_caja_id_negocio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.corte_caja
    ADD CONSTRAINT corte_caja_id_negocio_fkey FOREIGN KEY (id_negocio) REFERENCES public.negocio(id_negocio);


--
-- Name: corte_caja corte_caja_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.corte_caja
    ADD CONSTRAINT corte_caja_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: detalle_venta detalle_venta_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto);


--
-- Name: detalle_venta detalle_venta_id_venta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_id_venta_fkey FOREIGN KEY (id_venta) REFERENCES public.venta(id_venta);


--
-- Name: feedback feedback_id_comentario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_id_comentario_fkey FOREIGN KEY (id_comentario) REFERENCES public.comentario(id_comentario);


--
-- Name: feedback feedback_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- Name: inventario inventario_id_negocio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_id_negocio_fkey FOREIGN KEY (id_negocio) REFERENCES public.negocio(id_negocio);


--
-- Name: inventario inventario_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto);


--
-- Name: producto producto_id_categoria_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_id_categoria_fkey FOREIGN KEY (id_categoria) REFERENCES public.categoria(id_categoria);


--
-- Name: reporte_ventas reporte_ventas_id_negocio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reporte_ventas
    ADD CONSTRAINT reporte_ventas_id_negocio_fkey FOREIGN KEY (id_negocio) REFERENCES public.negocio(id_negocio);


--
-- Name: usuarios usuarios_id_rol_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_id_rol_fkey FOREIGN KEY (id_rol) REFERENCES public.roles(id_rol);


--
-- Name: venta venta_id_negocio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_id_negocio_fkey FOREIGN KEY (id_negocio) REFERENCES public.negocio(id_negocio);


--
-- Name: venta venta_id_tipo_pago_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_id_tipo_pago_fkey FOREIGN KEY (id_tipo_pago) REFERENCES public.tipo_pago(id_tipo_pago);


--
-- Name: venta venta_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario);


--
-- PostgreSQL database dump complete
--

\unrestrict cAJaPNCiUfwLQpkoQtmOuAEBr0bkwheJD2g0hB65aKQcJGT6CD0JmuQ6EbzohK9

