PORT=3000
# Cadena de conexión Postgres usada en docker-compose
DATABASE_URL="postgresql://user:password@postgres:5432/filacero?schema=public"
JWT_SECRET="Y2VxvQ1O9a0H3PQpY5FmKjNc4pGpEX1sBqkhZHVzuzQ="
JWT_EXPIRES_IN="3600s"
# NOTA: elimina synchronize=true en producción y gestiona migraciones.
